@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inherits LayoutComponentBase

@inject NavigationManager _nav
@inject RoleManager<IdentityRole> _roleManager

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Quản lý bán lẻ</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mt-16 pa-4">
        <AuthorizeView @attributes="@authorizeAttributes">
            <NotAuthorized>
                @if (_nav.Uri.Contains("/Account"))

                {
                    @Body
                }

                else

                {
                    <MudAlert Severity="Severity.Error">Bạn không có quyền truy cập trang này</MudAlert>
                }
            </NotAuthorized>
            <Authorized>
                @Body
            </Authorized>
        </AuthorizeView>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private bool _drawerOpen = true;







    private Dictionary<string, object> authorizeAttributes = new Dictionary<string, object>();







    private string roles = "";







    protected override async Task OnInitializedAsync()



    {



        var roleList = await _roleManager.Roles.Select(r => r.Name ?? "").ToListAsync();



        roles = string.Join(", ", roleList);







        authorizeAttributes["Roles"] = roles;



    }











    private void DrawerToggle()



    {



        _drawerOpen = !_drawerOpen;



    }
}


